@import url('https://fonts.googleapis.com/css2?family=Mulidisplay=swap');

* {
    box-sizing:border-box;
}

body{
    background: rgb(1, 1, 10);
    font-family: 'Muli', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: scroll;
}

.container  {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(255,0,0,1) 86%);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
    padding: 50px;
    text-align: center;
    max-width: 100%;
    width: 800px;
    position: absolute;
}

.btnContainer {
    position: relative;
    display: flex;
    flex-direction: column;
   
}

.btn {
    background-color: rgb(243, 17, 17);
    border-radius: 5px;
    border: none;
    color: #fff;
    margin: 1rem ;
    font-size: 1.2rem;
    font-family: inherit;
    cursor: pointer;
    width:180px;
    height:60px;
    text-align:center;
    line-height:1.1em;
    font-size:1.1em;
    flex-direction: row;
    
}

.btn:hover {
   opacity: 0.5; 
   color:rgba(34,193,195,1) ;
}

.btn:focus {
    outline: none;
}

.profilePic {
    border: 1px solid #ddd;
    border-radius: 80px;
    padding: 5px;
    width: 150px;
  }